
<% layout('layouts/boilerplate') %>

    <h1>All Campgrounds</h1>
    <ul>
        <% for(campground of campgrounds){ %>
            <li><a href="/campgrounds/<%= campground._id %>"><%=campground.title%></a></li>
        <% } %>
    </ul>
    <a href="/campgrounds/new">New Campground</a>
